<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Key words</label>
            <input type="text" name="q" class="form-control" placeholder="Enter keywords">
            <class="form-text text-muted">Search</small>

        </div>
        <div class="form-group">
            <label for="gender-select">Key words</label>
            <select name="gender" class="form-control">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>